			<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-12">

							<!-- Contact -->
							<section class="contact">
								<header>
									<h3>That's all for now! Check my links down here ↓</h3>
								</header>
								<p>
									Feel free to <b>contact me</b> through e-mail or LinkedIn <br>
									More tools and games to come in the future...
								</p>
								<ul class="icons">
									<li><a href="mailto:raul.martin.principal@gmail.com" class="icon fa-envelope"><span class="label">Mail</span></a></li>
									<li><a href="https://www.linkedin.com/in/ra%C3%BAl-mart%C3%ADn-632703331/" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
									<li><a href="https://github.com/Zephyr-62" class="icon brands fa-github"><span class="label">Github</span></a></li>
									<li><a href="https://assetstore.unity.com/publishers/57591" class="icon brands fa-unity"><span class="label">Unity Asset Store</span></a></li>
									<li><a href="https://raul-martin.itch.io/" class="icon brands fa-itch-io"><span class="label">Itch</span></a></li>
								</ul>
							</section>
							<a href="#header">Go back up ↑</a>

							<!-- Copyright -->
							<div class="copyright">
								<ul class="menu">
									<li>&copy; 2017 - {{ site.time | date: "%Y" }} Raúl Martín</li>
									<li>Design: <a href="http://html5up.net">HTML5 UP</a> & Myself</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>