<h2>{{ project.title }}</h2>
<header>
    <h3>{{ project.subtitle }}</h3>
</header>
<div class="column-container project-column">
    <div class="image-display-container column column60" data-project-id="{{project.projId}}">
        <a href="{{ project.id | relative_url }}">
            <img class="image-display1" alt="Slider Image">
            <img class="image-display2" alt="Slider Image" style="opacity: 0;">
        </a>
    </div>
    <div class="column columnRest">
        <div class="description">            
            {{ project.shortDescription }}
        </div>
        <p style="font-weight: bold;" class="details"> {% for tag in project.techTags%} 
                {{tag}}{% unless forloop.last %},{% endunless %}
            {% endfor %}
        </p>
        <a href="{{ project.id | relative_url }}" class="details">Read More</a>
    </div>
</div>