{% for elem in include.description %}
    {% if elem.type == "list" %}
        <ul>
        {% for sub_elem1 in elem.items %}
            {% if sub_elem1.type == "list" %}
                <ul>
                {% for sub_elem2 in sub_elem1.items %}
                    {% if sub_elem2.type == "list" %}
                        <ul>
                        {% for sub_elem3 in sub_elem2.items %}
                            {% if sub_elem3.type == "list" %}
                                <!-- This is here to throw an error -->
                                {% include projectDescriptionView.html%}
                            {% else %}
                                <li>
                                {{ sub_elem3.content }}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% else %}
                        <li>
                        {{ sub_elem2.content }}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <li>
                {{ sub_elem1.content }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        {% include projectDescriptionElem.html item=elem %}
    {% endif %}
{% endfor %}
