<h2 style="margin: 0;">{{ project.title }}</h2>
<header style="display: ruby;">
    <h3>{{ project.subtitle }}</h3>
</header>
<div class="column-container project-column">
    <div id="projListItemImg" class="image-display-container column column50" data-project-id="{{project.projId}}">
        <a href="{{ project.id | relative_url }}">
            <img class="image-display1" alt="Slider Image">
            <img class="image-display2" alt="Slider Image" style="opacity: 0;">
        </a>
    </div>
    <div id="projListItemDesc" class="column columnRest">
        <div>
            <div class="description">            
                {{ project.summary }}
                <p> </p>
                <h4> Contributions </h4>
                <ul style="list-style-type:disc">
                    {% for contribution in project.contributions-short %}
                    <li>{{contribution}}</li>
                    {% endfor %}
                </ul>
            </div>
            <p class="details tags">
                {% for tag in project.techTags%} 
                    {{tag}}{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </p>
            <p class="details"> Project {% if project.endDate != "" %} Finished: <b>{{project.endDate}}</b> {% else %} Started: <b>{{project.startDate}}</b> {% endif %} </p>       
        </div>
        <a href="{{ project.id | relative_url }}" style="font-weight: bold; width: 30%; height: 2.5em; padding: 0.5em; text-align: center;" class="button"> Read More </a>
    </div>
</div>