---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Raúl Martín - {{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/noscript.css" /></noscript>
	</head>
	{% if page.url == "/" %}
	<body class="homepage is-preload">	
	{% else %}
	<body>	
	{% endif %}
		<div>
			{% include header.html %}

			{{ content }}

			{% include footer.html %}
			{% include scripts.html %}
		</div>
	</body>
</html>