---
layout: default
title: {{page.shortTitle}}
permalink: /project/{{page.id}}
---
<div class="wrapper style1">
    <div class="container">
        <div class="row gtr-200">
            <div class="col-8 col-12-mobile" id="content">
                <article id="main">
                    <header>
                        <h2>{{ page.title }}</h2>
                        <p>{{ page.subtitle }}</p>
                    </header>
                    <div class="image-display-container" style="height:25em">
                        <a class="glightbox-cover image featured">
                            <img class="project-image" data-project-id="{{page.projId}}" data-image-idx="0">
                        </a>
                    </div>

                    <br>                
                    <p>{{ page.shortDescription }}</p>
                    <div class="row">
                        <div class="gallery">
                            {% for img in page.images %}
                            {% unless forloop.index0 == 0 %}
                            <div class="image-display-container">
                                <a class="glightbox1 image featured"><img class="glightbox project-image zoomableImg" data-project-id="{{page.projId}}" data-image-idx="{{forloop.index0}}"></a>
                            </div>
                            {% endunless %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <br>   

                    {% if page.ldDescription or page.toolDescription %}
                    <div class="projectTabs">
                        <button class="projectTab projectTabSelected" data-target="overview">Overview</button>
                        {% if page.ldDescription %}
                            <button class="projectTab" data-target="levelDesign">Level Design</button>
                        {% endif %}
                        {% if page.toolDescription %}
                            <button class="projectTab" data-target="tool">Tools Programming</button>
                        {% endif %}
                    </div>
                    <hr>
                    {% endif %}

                    <div id="overview">
                        <h2> Project Overview </h2>
                        {% include projectDescriptionView.html description=page.longDescription %}
                    </div>
                    
                    {% if page.ldDescription %}
                        <div id="levelDesign">
                            <h2> Level Design </h2>
                            {% include projectDescriptionView.html description=page.ldDescription %}
                        </div>
                    {% endif %}

                    {% if page.toolDescription %}
                        <div id="tool">
                            <h2> Tools Implementation </h2>
                            {% include projectDescriptionView.html description=page.toolDescription %}
                        </div>
                    {% endif %}                   

                </article>
            </div>
            <div class="col-3 col-12-mobile project-details" id="sidebar" style="margin-left: 2em;">
                <hr class="first">
                <section>
                    <header>
                        <h3>Summary</h3>
                    </header>
                    {{ page.summary }} </p>
                </section>
                <hr>
                <section>
                    <header> <h3>Details</h3> </header>                    
                    <h4>Dates</h4>
                    <p> Started: <i>{{page.startDate}}</i> </p>
                    <p>
                        Closed: <i>
                            {% if page.endDate == "" %} 
                            ---
                            {% else %}
                            {{ page.endDate }}
                            {% endif %}
                        </i>
                    </p>
                    <div class="row gtr-50">
                        <div class="col-5">
                            <h5>Team size: <b>{{ page.teamSize }}</b></h5>
                        </div>
                        <div class="col-5">
                            <h4>Status</h4>
                            <p> 
                                {% unless page.endDate == "" %} 
                                    {% if page.halted %}
                                        Halted
                                    {% else %}
                                        Closed
                                    {% endif %}
                                {% else %}
                                    Active
                                {% endunless %}
                            </p>
                        </div>                    
                    </div>
                    <br>
                    <h4>Keywords</h4>
                    <ul style="list-style-type:none">
                        {% for tag in page.techTags %}
                            <li>{{tag}}</li>
                        {% endfor %}
                    </ul>
                </section>
                <hr>
                <section>
                    <header>
                        <h3>Contributions</h3>
                    </header>             
                    <ul style="list-style-type:disc">
                         {% for contribution in page.contributions-short %}
                            <li>{{contribution}}</li>
                        {% endfor %}
                    </ul>
                </section>
                <br>
            </div>
        </div>
    </div>
</div>


<script src="{{site.baseurl}}/assets/js/imagesSlideshow.js"></script>
<script src="https://cdn.jsdelivr.net/npm/glightbox/dist/js/glightbox.min.js"></script>
<script src="{{site.baseurl}}/assets/js/gallery.js"></script>
<script src="{{site.baseurl}}/assets/js/projectTabs.js"></script>